<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
</head> 
<body class="text-white" style="background-color: white;">
    <div class="container">
        <div class="jumbotron text-center" style= height:400px; background-position: center; background-size: cover;></div>
            <h1 class="display-3"><b>Mission to Mars</b></h1>
            <p><a class="btn btn-danger btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <!-- NASA Mars News -->
        <div class="container">
            <div class="row" id="mars-news">
                <div class="media">
                    <div class="media-body">
                        <h2>Latest Mars News</h2>
                        <h3 style="color:black">{{mars.title}}</h3>
                        <p style="color: black">{{mars.paragraph}}</p>
                    </div>
                </div>
            </div>
        </div>   
        <!-- JPL Mars Space Images - Featured Image -->
        <div class="container">
            <div class="row" id="mars-featured-image">
                <div class="col-lg-8 col-md-8 col-sm-12">
                <h4>Featured Mars Image</h4>
                    <!-- If Images are False/None/Non-Existent, Then Default to Error Message -->
                    <img src="{{mars.image | default('static/images/error.png', true) }}" class="img-responsive" style="max-width:100%; max-height: auto;" alt="Mars Featured Image"/>
                </div>
                    <!-- Mars Facts -->
                    <br>
                    <div class="row" id="mars-facts">
                        <div class="col-md-12">
                            <h4>Mars Facts</h4>
                            {{mars.facts | safe}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mars Hemispheres -->
        <h4 style="padding-top: 50px; margin-top: 100px; text-align: center;">Mars Hemispheres</h4>
            <hr>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>